Scrape the last table from this Wikipedia Page: https://www.volcanodiscovery.com/earthquakes/bangladesh/largest.html

In [ ]:
import pandas as pd
from datetime import datetime

df= pd.read_csv("MessyEarthquakeData.csv")
df

In [149]:
df= pd.read_csv("MessyEarthquakeData.csv")




for i in df['Country']:
  if i[-1] == "'":
    df['Country'] = df['Country'].replace([i], i[:-1])
  else:
    pass


for i in df['Location']:
  if i[-1] == "'":
    df['Location'] = df['Location'].replace([i], i[:-1])
  else:
    pass

#===================================================================================================

        
x = df.query('Location == " Nepal-India border region"')
x

        
        
# # q = "Nepal-India border region'"
# # k = """ Location== "Nepal-India border region'" """
# # print(k)

#===================================================================================================



# loc = list(df['Location'])
# for i in loc:
    
#     #print(i)
    
#     if "(Myanmar (Burma))" in i:
#         df['Location'] = df['Location'].replace([i], i[:-18])
#         #print(i[:-18])

#     elif i[-1] == "'":
#         df['Location'] = df['Location'].replace([i], i[:-1])



# for i in df['Date']:
#   df['Date'] = df['Date'].replace([i], i[1:])



# def mdy_to_ymd(d):
#     return datetime.strptime(d, '%b %d, %Y').strftime('%Y-%m-%d')

# for i in df['Date']:
#   df['Date'] = df['Date'].replace([i], mdy_to_ymd(i))




#f

,Date,Day,Month,Year,Time (GMT),Latitude (N),Longitude (E),Magnitude,Location,Country
25,"'Mar 27, 2012",27,March,2012,23:40,26.087,87.777,5.0,Nepal-India border region,region
84,"'Jun 19, 1979",19,June,1979,16:29,26.741,87.506,5.1,Nepal-India border region,region

In [13]:
for i in df['Country']:
  if i == "(Burma))'" or i == "(Burma))" or  i == " Myanmar":
    df['Country'] = df['Country'].replace([i], "Myanmar")
  elif i == "India Region'" or i == "Assam" or i == "India'" or i == " India" or i == " India Region" or i == "Meghalaya" or i == " India":
    df['Country'] = df['Country'].replace([i], "India")
  elif i == "Bangladesh'" or i == " Bangladesh":
    df['Country'] = df['Country'].replace([i], "Bangladesh")

In [14]:
import numpy as np

x = np.array(df[["Country"]])
print(np.unique(x))

#print(x)

[' India region' ' Meghalaya' 'Bangladesh' 'Bhutan' 'India'
 'India-Bangladesh Border' 'Myanmar' 'Myanmar-India Border' 'region']

In [15]:
df.isnull().sum()

Date             0
Day              0
Month            0
Year             0
Time (GMT)       0
Latitude (N)     0
Longitude (E)    0
Magnitude        0
Location         0
Country          0
dtype: int64

In [16]:
max(df["Magnitude"])

7.2

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df

In [18]:
len(df)

110

In [19]:
df.to_csv('EarthquakeData.csv', index = False)

# Experimenting, Debugging & Pattern decoding section

In [ ]:
#print(fn[107])
print(area[107])
print(country[107])

 Bangladesh'
Bangladesh'

In [ ]:
print(info[0])
print()
print(info[1])
print()
print(info[2])
print()
print(info[3])
print()
print(info[4])
print()
print(info[7])
print()
print(info[8])
print()
print(info[107])

('quake-6509560',22.81,93.5248,'Nov 25, 2021 23:45 GMT: Mag. 6.2, Myanmar (Burma): 19 Km SW of Falam, Myanmar','',6.2,62, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([6221945,6.0,68057236]);

('quake-6221945',26.75,92.42,'Apr 28, 2021 02:24 GMT: Mag. 6.0, Northeastern India','',6.0,60, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([5942365,5.4,85282394]);

('quake-5942365',24.56,93.58,'Oct 10, 2020 17:38 GMT: Mag. 5.4, Myanmar-India Border Region','',5.4,54, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([5898619,5.1,88881818]);

('quake-5898619',23.4098,92.0087,'Aug 30, 2020 01:47 GMT: Mag. 5.1, 33 Km N of Khagrachhari, Bangladesh','',5.1,51, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([5889436,5.3,89103840]);

('quake-5889436',23.06,93.29,'Aug 27, 2020 12:07 GMT: Mag. 5.3, Myanmar-India Border Region','',5.3,53, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([2848141,5.5,94854624]);

('quake-2653440',20.53,93.47,'Jan 23, 2020 09:48 GMT: Mag. 5.4, Myanmar (Myanmar (Burma))','',5.4,54, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([2284256,5.0,132341494]);

('quake-2284256',22.7,93.2,'Apr 15, 2019 01:39 GMT: Mag. 5.0, Myanmar-india Border Region (Myanmar (Burma))','',5.0,50, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([2174704,5.0,145763733]);

('quake-2930538',24.937,90.721,'Sep 9, 1923 22:03 GMT: Mag. 6.8, Bangladesh','',6.8,68, '#bb202a', 0.9,1.5, '#bb202a', 0.45);
                quakeInfo.push([2930299,7.2,3312348549]);

In [ ]:
earthquakeInfo = {}
x = info[30].split(",")
x

["('quake-3144705'",
 '26.863',
 '91.632',
 "'Feb 23",
 ' 2006 20:07 GMT: Mag. 5.2',
 ' Assam',
 " India (Bhutan)'",
 "''",
 '5.2',
 '52',
 " '#bb202a'",
 ' 0.9',
 '1.5',
 " '#bb202a'",
 ' 0.45);\n                quakeInfo.push([3144703',
 '5.8',
 '546908784]);']

In [ ]:
x[5]

' Assam'

In [ ]:
y = x[5].split(" ")
y

['', 'Assam']

In [ ]:
y[1]

'Assam'

In [ ]:
y = x[4].split(" ")
y[-1]

'5.2'

In [ ]:
x = info[1].split(",")
x

["('quake-6221945'",
 '26.75',
 '92.42',
 "'Apr 28",
 ' 2021 02:24 GMT: Mag. 6.0',
 " Northeastern India'",
 "''",
 '6.0',
 '60',
 " '#bb202a'",
 ' 0.9',
 '1.5',
 " '#bb202a'",
 ' 0.45);\n                quakeInfo.push([5942365',
 '5.4',
 '85282394]);']

In [ ]:
col_names = [raw_name.text.replace("\n","") for raw_name in table_rows[0].find_all(name="td")] #Extracting column names excluding the new lines
col_names.remove("Nearest volcano (distance)")
col_names

['Date and time', 'MagDepth', 'Location', 'Details', 'Map']

In [ ]:
for row_id in table_rows_1:
  print(row_id)

In [ ]:
contents = [{col_names[idx] : raw_name.text.replace("\n", "").strip()
            for idx, raw_name in enumerate(table_rows[row_id].find_all(name="td"))}
            for row_id in range(1, len(table_rows))]

In [ ]:
tBody = tables[0].find_all(name="tbody") #Targeted table with "tbody" tag
tBody

In [ ]:
tables = web_page.find_all(name="table",attrs = {"class":"q-table"}) #With class name
#tables

table_rows = web_page.find_all(name="tr")
#table_rows
print(len(table_rows))

In [ ]:
# tBody = tables[0].find_all(name="tbody") #Targeted table with "tbody" tag
# tBody


# table_rows = tables[0].find_all(name="tr") #Targeted table with "tr" tag
# len(table_rows)

In [ ]:
col_names = [ raw_name.text.replace("\n", "") for raw_name in table_rows[0].find_all(name="th")]
col_names

In [21]:
dic = {
"epoch": [0,1,2,3,4,5,6,7,8,9],
  "train_loss" : [0.903610, 0.775346,0.741749, 0.604317, 0.423957, 0.395625, 0.290773,	0.239173, 0.182012, 0.162982],
  "valid_loss": [0.609631, 0.558051, 0.546151, 0.515605, 0.462101, 0.457082, 0.402679, 0.403826, 0.399640, 0.397217],
  "error_rate": [0.159063, 0.156597, 0.154747, 0.136252, 0.122688, 0.120838, 0.104809, 0.090012, 0.092478, 0.092478],
  "accuracy": [0.840937, 0.843403, 0.845253, 0.863748, 0.877312, 0.879162, 0.895191, 0.909988, 0.907522, 0.907522],
  "time": ["30:17", "29:49", "31:48", "31:04", "40:50", "33:19", "38:30", "33:29", "37:02", "41:48"]
}

dic = pd.DataFrame(dic)

dic

   epoch  train_loss  valid_loss  error_rate  accuracy   time
0      0    0.903610    0.609631    0.159063  0.840937  30:17
1      1    0.775346    0.558051    0.156597  0.843403  29:49
2      2    0.741749    0.546151    0.154747  0.845253  31:48
3      3    0.604317    0.515605    0.136252  0.863748  31:04
4      4    0.423957    0.462101    0.122688  0.877312  40:50
5      5    0.395625    0.457082    0.120838  0.879162  33:19
6      6    0.290773    0.402679    0.104809  0.895191  38:30
7      7    0.239173    0.403826    0.090012  0.909988  33:29
8      8    0.182012    0.399640    0.092478  0.907522  37:02
9      9    0.162982    0.397217    0.092478  0.907522  41:48

In [22]:
dic['time'][2]

'31:48'